$grayJumbo: #e7e7e2;

@mixin margenes($top, $bottom){
    margin-top: $top;
     margin-bottom: $bottom;
}

.jumbotron {
    background-color: $grayJumbo;
    color: black;
    @include margenes(15px, 30px);

}
body {
    background-color: #F8F8EF;
}
footer {
    padding: 10px 10px 10px 10px;
    background-color: white;
    @include margenes(10px, 0px );
    
}
.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}
.btn-reserva {
    width: 100%;
    border-radius: 0px;
}
.btn-detalles {
    border-radius: 0px;
}
.footer-address-icon {
    padding-right: 10px;
}
.footer-socialred-icon {
    padding-right: 10px;
}
.footer-button-icon {
    padding-right: 5px;
}
.img-fluid {
    width: 100% !important;
    margin: 0px;
}
.tab-content {
    @include margenes(10px, 0px);
}
#collapseButtons {
    @include margenes(0px, 10px);
}