.jumbotron {
  background-color: #e7e7e2;
  color: black;
  margin-top: 15px;
  margin-bottom: 0px;
}
body {
  background-color: #F8F8EF;
}
footer {
  padding: 10px 10px 10px 10px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.btn-detalles {
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.footer-socialred-icon {
  padding-right: 10px;
}
.footer-button-icon {
  padding-right: 5px;
}
.img-fluid {
  width: 100% !important;
  margin: 0px;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: 0px;
}
#collapseButtons {
  margin-top: 0px;
  margin-bottom: 10px;
}
